body {
    color: #ffffff;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: top;
    min-width: 640px;
}

::selection {
    background: #c00;
    color: #fff;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin: 0px;
}

.mainBox {
    padding: 5px;
}

button {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    border: none;
    background-color: #c0c0c0;
}

select, input {
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    border: none;
    background-color: #c0c0c0;
}

.Skibidi {
    width: 50%;
}

#copyright {
    text-align: center;
}